/* 
  LENGUAJES DE MARCA Y SISTEMAS DE GESTION DE LA INFORMACIÓN
  UD02 - TAREA EVALUATIVA 02: SITIO WEB
  SERGIO MORENO SANCHEZ
  01/12/2021
*/

/* tipos de fuentes importados de googl fonts
Raleway y Norican*/
@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/**********/
/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: white;
  text-align: center;
}

header h1 {
  margin-left: 20px;
}

/*************/
/* genéricos */
h1 {
  font-family: 'Norican', cursive;
  font-weight: 700;
  font-size: 2.7rem;
}

h2 {
  font-family: 'Norican', cursive;
  font-weight: 400;
  font-size: 2.2rem;
  padding-bottom: 20px;
  text-align: center;
}

h4 {
  font-family: 'Raleway', sans-serif;
}

u {
  text-decoration-color: rgb(218,139,142);
}

a, a:hover, a:visited {
  color: black;
  text-decoration: none;
}

p {
  line-height: 1.8;
}

hr{
  margin-top: 0px;
  color: rgb(218,139,142);
  height: 3px;
  background-color: rgb(218,139,142);
  border-width:0
}

.centrado{
  text-align: center;
}

/**************************/
/* NAV menú de navegación */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 0px;
  background-color: white;
}

nav a {
  color: black;
  border: 1px solid rgb(218,139,142);
  border-radius: 10px;
  padding: 14px 20px;
  font-size: 1.3rem;
  text-decoration: none;
  transition: 0.4s;
  margin-left: 4px;
}

nav a:hover {
  color: white;
  background-color: rgb(218,139,142);
  border-radius: 10px;
  cursor: pointer;

}
/********************/
/* boton de enlaces */
.boton {
  color: white;
  background-color: rgb(218,139,142);
  border: 1px solid white;
  border-radius: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 20px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.4s;
}

.boton:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(218,139,142);
  border-radius: 10px;
}

    /* eliminar estilo por defecto del navegador */
input[type="submit"] {
  border-style: none
}

/***************/
/* cuerpo flex */
main {
  display: flex;
  flex-flow: row nowrap;
}

section {
  flex: 75%;
  padding: 20px 0;
}

/*************/
/* artículos */
article {
  display: flex;
}

article img {
  padding-left: 0;
  margin-left: 0;
  max-width: 60%;
}

article div {
  flex: auto;
  margin: 0 20px 0 20px;
  text-align: center;
}
article div h2 {
  padding-bottom: 20px;
}

.intro p {
  font-size: 1.3em;
}

/********************/
/* barra lateral    */
aside {
  flex: 25%;
  background-color: rgba(218,139,142,.3);
  border-top-left-radius: 15px;
  padding: 20px;
}

/****************************************/
/* maquetación pagina de receta detalla */
.receta {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin: auto;
  margin-bottom: 10px;
  border: 1px solid rgb(218,139,142);
  border-radius: 15px;
}

.receta h1 {
  text-align: center;
}
.receta h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

.receta-cabecera {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  font-size: 1.5em;
  background-color: rgba(218,139,142,.3);
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}

.receta-cabecera img {
  flex-basis: 40%;
  border-radius: 15px;
}

.receta-cuerpo {
  padding: 20px;
  margin: 20px;
  font-size: 1.3em;
}

.receta-cuerpo h2 {
  text-align: left;
  margin: 0;
}

/*****************************************/
/* maquetación página categorías en flex */
.categorias-flex {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-around;
  max-width: 70%;
}

.categorias-flex article {
  flex-direction: column;
  flex-basis: 20%;
  border: 1px solid rgb(218,139,142);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.categoria-item:hover a {
  text-decoration: underline 5px rgb(218,139,142);
}

    /* filtro en gris al pasar el ratón en la imagen */ 
.categoria-item:hover img {
  -webkit-filter: grayscale(75%);
   -moz-filter: grayscale(75%);
   filter: grayscale(75%);
   transition: all 0.5s ease;
}

.categorias-flex article img {
  max-width: 100%;
  flex-shrink: 0;
  align-self: center;
  border-radius: 15px;
}

.categorias-flex article h2 {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0px;
}

/**************/
/* formulario */
.formulario-flex {
  display: flex;
  justify-content: flex-end;
}

form {
  flex-basis: 40%;
  border: 1px solid rgb(218,139,142);
  border-radius: 15px;
  padding: 20px;
  margin-right: 10%; 
}

.form-item {
  width: 90%;
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  background-color: rgba(218,139,142,.3);

}

.form-item:focus {
  background-color: rgba(218,139,142,.5);
  outline: none !important;
}

form h4 {
  margin-left: 10px;
  margin-bottom: 2px;
}

form .boton {
  margin-top: 30px;
  padding-left: 10%;
  padding-right: 10%;
  float: right;
}
/***************************/
/* lista de redes sociales */

.redes-sociales {
  list-style: none;
  font-size: 2rem;
}

.redes-sociales li {
  margin-bottom: 10px;
}

.redes-sociales a {
  text-decoration: none;
}

.redes-sociales a:hover{
  text-decoration: underline 5px rgb(218,139,142);
}

.redes-sociales a:visited {
  color: black
}

.redes-sociales a:hover span {
  color:orange;
}

/*******************************/
/* grilla de categorias (aside)*/
.grid-categoria {
  display: grid; /* contenedor tipo grid */
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 2px;
}

.categoria {
  position: relative;
  display: inline-block;
  text-align: center;
}

a.categoria:hover {
  opacity: 0.5;
}

.categoria-texto {
  background-color: rgb(218,139,142);
  border-radius: 15px;
  color: white;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**********************/
/* listado de recetas */
.lista-receta,
.lista-noticia {
  border: 1px solid rgb(218,139,142);
  border-radius: 0 15px 15px 0;
  margin: 0px 20px 10px 20px;
  padding: 20px;
}

.lista-receta div,
.lista-noticia div {
  text-align: justify;
  clear: both;
}

.lista-receta img {
  max-width: 250px;
}

.lista-receta a,
.lista-noticia a {
  float: right
}

/*********************/
/* lista de noticias */
.lista-noticia img {
  max-width: 100px;
  max-height: 100px;
}

.lista-noticia h3 {

  text-align: left;
  margin-top:0 ;
  font-family: 'Raleway', sans-serif;
}

.lista-noticia p {
  margin: 0;
  font-style: italic;
}

/*****************/
/* pié de página */
footer {
  padding: 5px;
  text-align: center;
  background-color: rgb(218,139,142);
  color: white;
  font-style: italic;
}

/************************************************************/
/* configuración de visión para móviles y pantallas pequeñas*/
@media screen and (max-width: 800px) {
  nav,
  main,
  header,
  article,
  .receta-cabecera {
    flex-direction: column;
  }

  article img {
    align-self: center;
    flex:auto;
  }

  nav a {
    align-self: center;
    margin-bottom: 5px;
  }

  form {
    flex-basis: 100%;
    margin: 5px;
  }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    margin: 10px;
  }
}