@import url('https://fonts.googleapis.com/css2?family=Norican&family=Raleway:ital,wght@0,200;0,400;0,700;1,400&display=swap');

html {
  font-family: 'Raleway', sans-serif;
  font-size: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* header */
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: white;
  text-align: center;
}

header h1 {
  margin-left: 20px;
}

/* genéricos */
h1 {
  font-family: 'Norican', cursive;
  font-weight: 700;
  font-size: 2.7rem;
}

h2{
  font-family: 'Norican', cursive;
  font-weight: 400;
  font-size: 2.2rem;
  padding-bottom: 20px;
  text-align: center;
}

u {
  text-decoration-color: rgb(218,139,142);
}

p {
  line-height: 1.8;
}

hr{
  margin-top: 0px;
  color: rgb(218,139,142);
  height: 3px;
  background-color: rgb(218,139,142);
  border-width:0
}

/* menú de navegación */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.5rem;
  padding: 10px;
  margin-bottom: 0px;
  background-color: white;
}

nav a {
  color: black;
  border: 1px solid rgb(218,139,142);
  border-radius: 10px;
  padding: 14px 20px;
  font-size: 1.3rem;
  text-decoration: none;
  transition: 0.4s;
  margin-left: 4px;
}

nav a:hover {
  color: white;
  background-color: rgb(218,139,142);
  border-radius: 10px;
  cursor: pointer;

}

/* boton */
.boton {
  color: white;
  background-color: rgb(218,139,142);
  border-radius: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding: 14px 20px;
  font-size: 1rem;
  text-decoration: none;
  transition: 0.4s;
}

.boton:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(218,139,142);
  border-radius: 10px;
}

.centrado{
  text-align: center;
}

/* cuerpo flex */
main {
  display: flex;
  flex-flow: row nowrap;
}

section {
  flex: 75%;
  padding: 20px 0;
}

aside {
  flex: 25%;
  background-color: rgba(218,139,142,.3);
  padding: 20px;
}

/* formulario */
form {
  border: 1px solid rgb(218,139,142);
  border-radius: 15px;
  padding: 20px;
  margin: 10px;
}

/* grilla de categorias */
.grid-categoria {
  display: grid; /* contenedor tipo grid */
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-gap: 2px;
}

.categoria {
  position: relative;
  display: inline-block;
  text-align: center;
}

a.categoria:hover {
  opacity: 0.5;
}

.categoria-texto {
  background-color: rgb(218,139,142);
  border-radius: 15px;
  color: white;
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.categoria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* artículos */
article {
  display: flex;
}

article img {
  padding-left: 0;
  margin-left: 0;
  max-width: 60%;
}

article div {
  flex: auto;
  margin: 0 20px 0 20px;
  text-align: center;
}
article div h2 {
  padding-bottom: 20px;
}

/* listado de recetas */
.lista-receta,
.lista-noticia {
  border: 1px solid rgb(218,139,142);
  border-radius: 0 15px 15px 0;
  margin: 0px 20px 10px 20px;
  padding: 20px;
}

.lista-receta div,
.lista-noticia div {
  text-align: justify;
  clear: both;
}

.lista-receta img {
  max-width: 250px;
}

.lista-receta a,
.lista-noticia a {
  float: right
}

/* lista de noticias */
.lista-noticia img {
  max-width: 100px;
  max-height: 100px;
}

.lista-noticia h3 {

  text-align: left;
  margin-top:0 ;
  font-family: 'Raleway', sans-serif;
}

.lista-noticia p {
  margin: 0;
  font-style: italic;
}

/* pié de página */
footer {
  padding: 5px;
  text-align: center;
  background-color: rgb(218,139,142);
  color: white;
  font-style: italic;
}


/* configuración de visión para móviles y pantallas pequeñas*/
@media screen and (max-width: 700px) {
  nav,
  main,
  header,
  article {
    flex-direction: column;
  }

  article img {
    align-self: center;
    flex:auto;
  }

  nav a {
    align-self: center;
    margin-bottom: 5px;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header h1 {
    margin: 10px;
  }
}